<div id="difficulty" class="flexrow align-center section-border-horizontal top" style="text-align: center; font-size: 130%">
    <a class="darkgreen" data-action="difficulty" data-action-type="easy" data-tooltip="{{localize "aoa.rolls.easy"}}"><i class="fa-solid fa-face-smile-beam"></i></a>
    <a data-action="difficulty" data-action-type="normal" data-tooltip="{{localize "aoa.rolls.normal"}}"><i class="fa-solid fa-face-meh"></i></a>
    <a style="color: lightcoral" data-action="difficulty" data-action-type="hard" data-tooltip="{{localize "aoa.rolls.hard"}}"><i class="fa-solid fa-face-worried"></i></a>
    <a style="color: indianred" data-action="difficulty" data-action-type="veryHard" data-tooltip="{{localize "aoa.rolls.very-hard"}}"><i class="fa-solid fa-face-sad-sweat"></i></a>
    <a class="darkred" data-action="difficulty" data-action-type="impossible" data-tooltip="{{localize "aoa.rolls.impossible"}}"><i class="fa-solid fa-face-anxious-sweat"></i></a>
</div>
