<form class="{{cssClass}}" autocomplete="off">
    <h2>{{dialogHeader}}</h2>
    <div class="flexrow align-center">
        <label for="ability">{{localize "aoa.ability"}}:</label>
        <select name="ability">
            <option value="str">{{localize "aoa.abilities.str"}}</option>
            <option value="dex">{{localize "aoa.abilities.dex"}}</option>
            <option value="con">{{localize "aoa.abilities.con"}}</option>
            <option value="int">{{localize "aoa.abilities.int"}}</option>
            <option value="wis">{{localize "aoa.abilities.wis"}}</option>
            <option value="cha">{{localize "aoa.abilities.cha"}}</option>
        </select>
    </div>
    <div class="flexrow align-center">
        <label for="modifier">{{localize "aoa.modifier"}}:</label>
        <input name="modifier" type="text" data-dtype="Number" value="0" />
    </div>
</form>
