{{#with . as |item|}}
    {{#with (concat "ITEM.Type" (capFirst item.type)) as | locType |}}
        <div class="list-row relative" data-action-type="monster">
            <i class="drag fa-solid fa-grip-vertical" draggable="true"></i>
            <span><a data-action="editItem" data-tooltip="{{localize "aoa.edit"}}"><i class="fa-solid fa-pen-to-square"></i></a></span>
            <span><a data-action="attack"
                     data-action-flavor="{{localize (lookup . "string")}} {{item.name}}"
                     data-tooltip="{{localize 'aoa.attack-bonus'}} {{numberFormat item.system.toHit sign=true decimals=0}}">
                <i class="fa-solid fa-dice-d20"></i></a>
            </span>
            <a data-action="damage" >{{item.system.damage.formula}}</a>
            {{#if item.system.description}}
                <span data-tooltip="{{item.system.description}}"><i class="fa-solid fa-asterisk"></i></span>
            {{/if}}
            <input type="text" data-dtype="text" value="{{item.name}}" data-property="name">
        </div>
    {{/with}}
{{/with}}
