<div class="list-row relative">
    <i class="drag fa-solid fa-grip-vertical" draggable="true"></i>
    <span><a data-action="editEffect" data-tooltip="{{localize "aoa.edit"}}" {{#unless editable}}class="disabled"{{/unless}}><i class="fa-solid fa-pen-to-square"></i></a></span>
    <span>
        {{#if editable}}
            <a data-action="disable">
                <i class="fa-solid fa-person-rays {{#if disabled}}gray-out{{/if}}"></i>
            </a>
        {{else}}
            <span>
                <i class="fa-solid fa-person-rays {{#if disabled}}gray-out{{/if}}"></i>
            </span>
        {{/if}}

    </span>
    <input type="text" data-dtype="text" value="{{label}}" data-property="label" {{#unless editable}}disabled{{/unless}}>
    {{#if flags.and-other-adventures.needsConcentration}}
        <span data-tooltip="{{localize 'aoa.effect.needs-concentration'}}"><i class="fa-solid fa-head-side-brain"></i></span>
    {{/if}}
    {{#if duration.remaining}}
        <span class="duration-remaining" style="flex: 1 0 auto;">{{localize "aoa.effect.remaining"}}: <span class="remaining-text">{{duration.remainingString}}</span></span>
    {{/if}}
    <div style="flex: 0 0 1.5em"></div>
</div>

