<div class="list-row relative">
    <i class="drag fa-solid fa-grip-vertical" draggable="true"></i>
    <input type="text" data-dtype="text" value="{{name}}" data-property="name" {{#if (lt system.quantity.value 1)}}class="zero-quantity"{{/if}}>
    <div class="quantity {{#if (lt system.quantity.value 2)}}only-hover{{/if}}">
        <label for="system.quantity">{{localize "aoa.quantity"}}:</label>
        <input name="system.quantity" type="text" size="1" data-dtype="Number" value="{{system.quantity.value}}" data-property="system.quantity.value">
    </div>
    <div class="features">
        {{#if system.specialized}}
            <i class="fa-solid fa-heart" data-tooltip="{{localize 'aoa.specialized'}}"></i>
        {{/if}}
        {{#if system.magical}}
            <i class="fa-solid fa-sparkles" data-tooltip="{{localize 'aoa.magical'}}"></i>
        {{/if}}
    </div>
</div>
<div class="list-row justify-end" style="gap: 0.5em;">
    <span>
        <a data-action="equip" class="equipped {{#if system.equipped}}active{{/if}}">
            {{#if system.needsTwoHands}}
                <i class="fa-solid fa-hands"></i>
            {{else}}
                <i class="fa-solid fa-hand"></i>
            {{/if}}
        </a>
    </span>
    <span>
        <a data-action="editItem" data-tooltip="{{localize "aoa.edit"}}"><i class="fa-solid fa-pen-to-square"></i></a>
    </span>
    <span class="flex-fill"></span>
    {{#if system.showMelee}}
        <span data-action-type="melee">
            <a class="attack" data-action="attack" data-tooltip="{{numberFormat system.attack.melee sign=true decimals=0}}">
                <i class="fa-solid fa-sword fa-xl"></i>
                <span>{{numberFormat system.attack.melee sign=true decimals=0}}</span>
            </a>
            <a data-action="damage" >{{system.localizedDamage.melee}}</a>
        </span>
    {{/if}}
    {{#if system.ranged}}
        <span data-action-type="ranged">
            <a class="attack" data-action="attack" data-tooltip="{{numberFormat system.attack.ranged sign=true decimals=0}}">
                <i class="fa-solid fa-bow-arrow fa-xl"></i>
                <span>{{numberFormat system.attack.ranged sign=true decimals=0}}</span>
            </a>
            <a data-action="damage">{{system.localizedDamage.ranged}}</a>
            {{#if system.usesAmmo}}
                ({{system.ammoQuantity}})
            {{/if}}
        </span>
    {{/if}}
</div>
