<h1>{{localize "aoa.gear-header"}}</h1>
<div class="coins flexrow">
    <span><i class="fa-solid fa-coins"></i>{{actor.system.coins.sum}} {{localize "aoa.coins"}}:</span>
    <input type="text" data-dtype="Number" name="system.coins.g" value="{{actor.system.coins.g}}">
    <label for="system.coins.g">{{localize "aoa.gold"}}</label>
    <input type="text" data-dtype="Number" name="system.coins.s" value="{{actor.system.coins.s}}">
    <label for="system.coins.s">{{localize "aoa.silver"}}</label>
    <input type="text" data-dtype="Number" name="system.coins.c" value="{{actor.system.coins.c}}">
    <label for="system.coins.c">{{localize "aoa.copper"}}</label>
</div>
<div class="lists">
    <div class="gear-list"></div>
</div>



