<div class="resources section-border-horizontal">
    <div class="resource">

        <span>{{#unless condensed}}<i class="fa-solid fa-heart-pulse darkred"></i>{{/unless}}<h2>{{localize
                "aoa.resources.hp"}} </h2></span>

        <div name="system.hp" class="flexrow">
            <input name="system.hp.value" type="text" data-dtype="Number" value="{{actor.system.hp.value}}">
            <input name="system.hp.max" type="text" data-dtype="Number" value="{{actor.system.hp.max}}"
                   data-tooltip="{{localize "aoa.max"}}">
            {{#unless condensed}}
                <div>
                    <label>{{localize "aoa.hit-die"}}</label>
                    {{#with (concat "aoa." actor.system.class.hitDie)}}
                        {{localize string}}
                    {{/with}}
                </div>
            {{/unless}}
        </div>
    </div>
    <div id="ac" class="resource ac">
        <span><h2>{{localize "aoa.ac"}}</h2></span>
        <div>
            <span>
                {{actor.system.ac}}
            </span>
        </div>
    </div>
    <div id="ini" class="resource ini">
        <span><h2>{{localize "aoa.initiative"}}</h2></span>
        <div>
            <span>
                {{actor.system.initiative}}
            </span>
        </div>
    </div>
    <div class="resource">

        <span><h2>{{localize "aoa.resources.fp"}}</h2>{{#unless condensed}}
            <i class="fa-solid fa-hand-fingers-crossed darkgreen"></i> {{/unless}}</span>

        <div name="system.fp" class="flexrow">
            <input name="system.fp.value" type="text" data-dtype="Number" value="{{actor.system.fp.value}}">
            <input name="system.fp.max" type="text" data-dtype="Number" value="{{actor.system.fp.max}}"
                   data-tooltip="{{localize "aoa.max"}}">
        </div>
    </div>
</div>
