<sheet-resources>
    <div class="resource">
        <label for="system.hp">{{localize "aoa.resources.hp"}}</label>
        <div name="system.hp" class="row">
            <input name="system.hp.value" type="text" data-dtype="Number" value="{{actor.system.hp.value}}">
            <input name="system.hp.max" type="text" data-dtype="Number" value="{{actor.system.hp.max}}">
        </div>
    </div>
    <div class="resource">
        <label for="system.hp">{{localize "aoa.resources.fp"}}</label>
        <div name="system.fp" class="row">
            <input name="system.fp.value" type="text" data-dtype="Number" value="{{actor.system.fp.value}}">
            <input name="system.fp.max" type="text" data-dtype="Number" value="{{actor.system.fp.max}}">
        </div>
    </div>
</sheet-resources>
