<div class="specials">
    <h1>{{localize "aoa.specials-header"}}</h1>
    {{#if actor.system.class.hasSpecialization}}
        <div class="flexrow align-center" style="gap: 0.4em;">
            <label for="system.weaponSpecializations">{{localize "aoa.weapon-specializations"}}:</label>
            <input name="system.weaponSpecializations" class="flex3" value="{{actor.system.weaponSpecializations}}" type="text" >
        </div>
    {{/if}}
    <div class="flexrow nowrap" style="height: 100%">
        {{#if actor.system.class.hasKnacks}}
            <div class="flexcol">
                <h3 class="flex0">{{localize "aoa.knacks-header"}}</h3>
                <div class="knacks" style="padding: 0.2em;">
                        <div class="flexrow align-center">
                            <label for="system.knacks.defensive">{{localize "aoa.knacks.defensive"}}:</label>
                            <input name="system.knacks.defensive" value="{{actor.system.knacks.defensive}}" type="text" data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label for="system.knacks.fleet">{{localize "aoa.knacks.fleet"}}:</label>
                            <input name="system.knacks.fleet" value="{{actor.system.knacks.fleet}}" type="text" data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label for="system.knacks.strike">{{localize "aoa.knacks.strike"}}:</label>
                            <input name="system.knacks.strike" value="{{actor.system.knacks.strike}}" type="text" data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label for="system.knacks.resilience">{{localize "aoa.knacks.resilience"}}:</label>
                            <input name="system.knacks.resilience" value="{{actor.system.knacks.resilience}}" type="text" data-dtype="Number">
                        </div>
                </div>
            </div>
        {{/if}}
        <div class="lists" style="flex:1;">
            <div class="trait-list"></div>
        </div>
    </div>
</div>

