<div class="specials">
    <h1>{{localize "aoa.specials-header"}}</h1>
    {{#if actor.system.class.hasSpecialization}}
        <div class="flexrow align-center" style="gap: 0.4em;">
            <label for="system.weaponSpecializations">{{localize "aoa.weapon-specializations"}}:</label>
            <input name="system.weaponSpecializations" class="flex3" value="{{actor.system.weaponSpecializations}}" type="text" >
        </div>
    {{/if}}
    <div class="flexrow nowrap" style="height: 100%; gap: 0.4em;">
        {{#if actor.system.class.hasKnacks}}
            <div class="flexcol">
                <h3 class="flex0">{{localize "aoa.knacks-header"}}</h3>
                <div class="knacks" style="padding: 0.2em;">
                        <div class="flexrow align-center">
                            <label class="flex2">{{localize "aoa.knacks.defensive"}}:</label>
                            <input name="system.knacks.defensive" value=0 type="radio" {{checked (eq 0 actor.system.knacks.defensive)}} data-dtype="Number">
                            <input name="system.knacks.defensive" value=1 type="radio" {{checked (eq 1 actor.system.knacks.defensive)}} data-dtype="Number">
                            <input name="system.knacks.defensive" value=2 type="radio" {{checked (eq 2 actor.system.knacks.defensive)}} data-dtype="Number">
                            <input name="system.knacks.defensive" value=3 type="radio" {{checked (eq 3 actor.system.knacks.defensive)}} data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label class="flex2">{{localize "aoa.knacks.fleet"}}:</label>
                            <input name="system.knacks.fleet" value=0 type="radio" {{checked (eq 0 actor.system.knacks.fleet)}} data-dtype="Number">
                            <input name="system.knacks.fleet" value=1 type="radio" {{checked (eq 1 actor.system.knacks.fleet)}} data-dtype="Number">
                            <input name="system.knacks.fleet" value=2 type="radio" {{checked (eq 2 actor.system.knacks.fleet)}} data-dtype="Number">
                            <input name="system.knacks.fleet" value=3 type="radio" {{checked (eq 3 actor.system.knacks.fleet)}} data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label class="flex2">{{localize "aoa.knacks.strike"}}:</label>
                            <input name="system.knacks.strike" value=0 type="radio" {{checked (eq 0 actor.system.knacks.strike)}} data-dtype="Number">
                            <input name="system.knacks.strike" value=1 type="radio" {{checked (eq 1 actor.system.knacks.strike)}} data-dtype="Number">
                            <input name="system.knacks.strike" value=2 type="radio" {{checked (eq 2 actor.system.knacks.strike)}} data-dtype="Number">
                            <input name="system.knacks.strike" value=3 type="radio" {{checked (eq 3 actor.system.knacks.strike)}} data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label class="flex2">{{localize "aoa.knacks.resilience"}}:</label>
                            <input name="system.knacks.resilience" value=0 type="radio" {{checked (eq 0 actor.system.knacks.resilience)}} data-dtype="Number">
                            <input name="system.knacks.resilience" value=1 type="radio" {{checked (eq 1 actor.system.knacks.resilience)}} data-dtype="Number">
                            <input name="system.knacks.resilience" value=2 type="radio" {{checked (eq 2 actor.system.knacks.resilience)}} data-dtype="Number">
                            <input name="system.knacks.resilience" value=3 type="radio" {{checked (eq 3 actor.system.knacks.resilience)}} data-dtype="Number">
                        </div>
                </div>
            </div>
        {{/if}}
        <div class="lists" style="flex:1;">
            <div class="trait-list"></div>
        </div>
    </div>
</div>

