<h1>{{localize "aoa.spell-header"}}</h1>
<div class="used-spells">
    <label>{{localize "aoa.used-spells"}}:</label>
    <input size="2" type="text" data-dtype="Number" class="slots" name="system.usedSpells" value="{{actor.system.usedSpells}}">
    <label>{{localize "aoa.max"}}:</label>
    {{actor.system.level}}
</div>

<div class="cantrip-list"></div>
<div class="lists">
    <div class="spell-list"></div>
    <div class="ritual-list"></div>
</div>


