<div class="specials">
    <div class="flexrow align-center">
        <label for="system.weaponSpecializations">{{localize "aoa.weapon-specializations"}}:</label>
        <input name="system.weaponSpecializations" class="flex3" value="{{actor.system.weaponSpecializations}}" type="text" >
    </div>
    <div class="flexrow nowrap" style="height: 100%">
        {{#if actor.system.class.hasKnacks}}
            <div class="flexcol">
                <h1 class="flex0">{{localize "aoa.knacks-header"}}</h1>
                <div class="knacks">
                        <div class="flexrow align-center">
                            <label for="system.knacks.defensive">{{localize "aoa.knacks.defensive"}}:</label>
                            <input name="system.knacks.defensive" value="{{actor.system.knacks.defensive}}" type="text" data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label for="system.knacks.fleet">{{localize "aoa.knacks.fleet"}}:</label>
                            <input name="system.knacks.fleet" value="{{actor.system.knacks.fleet}}" type="text" data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label for="system.knacks.strike">{{localize "aoa.knacks.strike"}}:</label>
                            <input name="system.knacks.strike" value="{{actor.system.knacks.strike}}" type="text" data-dtype="Number">
                        </div>
                        <div class="flexrow align-center">
                            <label for="system.knacks.resilience">{{localize "aoa.knacks.resilience"}}:</label>
                            <input name="system.knacks.resilience" value="{{actor.system.knacks.resilience}}" type="text" data-dtype="Number">
                        </div>
                </div>
            </div>
        {{/if}}
        <div class="lists" style="flex:1;">
            <div class="trait-list"></div>
        </div>
    </div>





</div>

