<div data-actor-id="{{actorId}}"  class="aoa-chat {{this.classes}}">
    <div class="heading">
        <div class="actor-name">{{actorName}}</div>
        <h3 class="header"><strong>{{name}}</strong></h3>
        {{#if flavor}}
            <div>{{flavor}}</div>
        {{/if}}
    </div>
    {{#if description}}
        <div class="description">
            {{{description}}}
        </div>
    {{/if}}

</div>
